<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/docs/0.x">
            Getting Started
        </a>
        <ul class="sub-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x#why-crowphp">
                    Why CrowPHP?
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x#your-first-crowphp-microservice">
                    Your First CrowPHP Microservice
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/routing">
            Routing
        </a>
        <ul class="sub-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/routing#route-methods">
                    Route methods
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/routing#route-paths">
                    Route paths
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/routing#route-parameters">
                    Route parameters
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/routing#route-groups">
                    Route groups
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/middlewares">
            Middlewares
        </a>

        <ul class="sub-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/middlewares#defining-a-middleware">
                    Defining a middleware
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/docs/0.x/middlewares#types-of-middlewares">
                    Types of middlewares
                </a>
            </li>


        </ul>
    </li>
</ul>
