<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow"
     style="background-color: #f8f9fa !important">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="{{ site.baseurl }}/assets/crow-logo.svg" alt="" width="150">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}/#installation">Install</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Documentation</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://github.com/crowphp/crow"><i class="bi bi-github"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="container" style="width: 900px">
            <div class="jumbotron p-3 p-md-5" style="background-color: #f8f9fa !important">
                <div class="text-center">
                    <h2 class="display-6">An <b>expressive</b> and <b>un-opinionated</b> web framework for PHP</h2>
                    <p class="lead my-3">Built on top of battle tested <a href="https://www.swoole.co.uk/">SwoolePHP</a> and <a href="https://reactphp.org/">ReactPHP</a>,
                        <b>Crow</b> framework let's you build real microservices without PHP-FPM, Nginx or Apache.</p>
                    <p class="lead mb-0"><a href="{{ site.baseurl }}/#installation" class="btn btn-primary">Get Started</a></p>
                </div>
            </div>
        </div>


    </div>
</div>
